<div class="container" *ngIf="pais">
    <h4>Edición {{pais.nombre}}</h4>
    <div class="row">
        <div class="col-xs-6">
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" [(ngModel)]="pais.nombre" name="nombre"/>
                </div>
                <div class="form-group">
                    <label for="superficie">Superficie</label>
                    <input [(ngModel)]="pais.superficie" name="superficie" class="form-control">
                </div>
                <div class="form-group">
                    <label for="continente">Continente</label>
                    <input [(ngModel)]="pais.continente.nombre" name="continente" class="form-control">
                </div>
                <button class="btn btn-primary" (click)="updatePais(pais)" >Actualizar</button>

            </form>
        </div>
      </div>
    <br>
</div>
