<div class="container" *ngIf="paises">
    <h4>Paises</h4>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Superficie</th>
                        <th scope="col">Continente</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody class="pnt-js-tabla-paises">
                  <tr *ngFor="let pais of paises">
                      <td>{{pais.nombre}}</td>
                      <td>{{pais.superficie}}</td>
                      <td>{{pais.continente.nombre}}</td>
                      <td>
                            <button class="btn" (click)="delete(pais)">Eliminar</button>
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
