<html>
    <head>
        <title>Paises</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../vendor/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <h3>Alta País</h3>
            <div class="row">
                <div class="col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="superficie">Superficie</label>
                            <input type="number" class="form-control" id="superficie" placeholder="Superficie">
                        </div>
                        <div class="form-group">
                            <label for="continente">Continente</label>
                            <select class="form-control" id="continente">
                                <option>Africa</option>
                                <option>America</option>
                                <option>Asia</option>
                                <option>Europa</option>
                                <option>Oceania</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>

        <script id="tabla-paises-rows-template" type="text/x-jsrender">
            <tr>
            <td>{{:nombre}}</td>
            <td>{{:superficie}}</td>
            <td>{{:continente.nombre}}</td>
            <td><button class="btn btn-primary btn-sm">Eliminar</button></td>
            </tr>
        </script>
        <script src="../vendor/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="../vendor/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../vendor/jsrender/jsrender.min.js" type="text/javascript"></script>
        <script src="../js/app.js" type="text/javascript"></script>
        <script src="../js/service/pais.js" type="text/javascript"></script>
        <script src="../js/service/utils.js" type="text/javascript"></script>
        <script src="../js/ui/views/alta.js" type="text/javascript"></script>
    </body>
</html>
