<html>
    <head>
        <title>Paises</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../common/vendor/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <h3>Países</h3>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Superficie</th>
                                <th scope="col">Continente</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody class="pnt-js-tabla-paises">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script id="tabla-paises-rows-template" type="text/x-jsrender">
            <tr data-id="{{:id}}">
                <td>{{:nombre}}</td>
                <td>{{:superficie}}</td>
                <td>{{:continente.nombre}}</td>
                <td>
                    <a href="/jquery/edicion/{{:id}}">
                        <button class="btn btn-primary btn-sm">Editar</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-sm pnt-js-eliminar-pais">Eliminar</button>
                    </a>
                </td>
            </tr>
        </script>
        <script src="../common/vendor/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="../common/vendor/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../jquery/vendor/jsrender/jsrender.min.js" type="text/javascript"></script>
        <script src="../jquery/js/app.js" type="text/javascript"></script>
        <script src="../jquery/js/service/pais.js" type="text/javascript"></script>
        <script src="../jquery/js/service/utils.js" type="text/javascript"></script>
        <script src="../jquery/js/ui/views/index.js" type="text/javascript"></script>
    </body>
</html>
